<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>746326700623-r3e2pmuj6vha372ia9e5psa6kdta9jf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.746326700623-r3e2pmuj6vha372ia9e5psa6kdta9jf3</string>
	<key>API_KEY</key>
	<string>AIzaSyAtPY_YzPNjfvDlhRyrdQNLuHMiko8PGRc</string>
	<key>GCM_SENDER_ID</key>
	<string>746326700623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jashApp</string>
	<key>PROJECT_ID</key>
	<string>to-do-list-app-d0a19</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-list-app-d0a19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746326700623:ios:80c979abd4502b745eb03a</string>
</dict>
</plist>